*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Aqui colocarmos estilização no corpo da página (Body) */
body{
    width: 100%; /* Largura */
    height: 100vh; /**/
    background-image: url(imagens/img-footer.jpg); 
    background-position: center;/*Posicionamento a imagem ao centro*/
    background-repeat: no-repeat; /*Colocamos para que a img não se repita */
    background-size: cover; /*Aqui atribuimos para que a imagem fique sobre toda nossa página*/
    display: flex; /*Resposavel por colocar os itens na mesma linha (lado a lado)*/
    align-items: center;/* Alinhar itens ao centro*/
    justify-content: center; /*Justificar conteúdo ao centro*/
}

.container{ /* Aqui estamos chmando nossa Class da DIV PAI*/
    max-width: 120px; /* Atribuimos aqui um tamanho máximo de largura que essa Class irá exercer*/
    margin: 0 auto; /*Dizermos ao navegador que as margens superior e inferior são iguais a 0 
    as da esquerda e direita são automáticas */
}

form{ /*aqui chamamos nosso form para estilização*/
    background-color: white; /*Colocamos uma cor de fundo */
    max-width: 500px; /*Atribuimos aqui um tamanho máximo de largura que esse formulário irá 
    exercer*/
    height: 450px; /*Largura do formulário*/
    padding: 200px;/*preenchimento*/
    border-radius: 20px;/*Arredondamento das bordas do formulário*/ 

}

form h1{ /*Chamamos nosso texto para estilização*/
    text-align: center; /*Alinhamneto ao centro*/
    font-size: 30px; /*Tamanho da letra */
    color: black; /*Cor da letra*/
}

form p { /*Chamamos nosso paragrafo para estilização */
    text-align: center; /*Alinhando para o centro nosso paragrafo*/
    margin: 20px 0; /*dizemos ao navegador que as margens superior e inferior são iguais a 20 e as 
    da esquerda e direita saõ 0*/
}

.input-single{ /*Chamamos nossa class que está encabeçada nas div's dos nossos input e Label*/
    position: relative; /*posição relativa*/
    margin: 20px;/*dizemos ao navegador que as margens superior e inferior são iguais a 20 e as da esquerda e da direita são 0*/
}

.input-single label{/* chamamos nossa label para estilização*/
    position: absolute;/* atribuimos uma posição absoluta em relação ao formulario*/
    left: 0;/* zeramos a margin esquerda*/
    bottom: 5px;/* margem inferiorn atribuimos para 5px*/
    transition: all 0,2;/* inserimos uma transição total para 0,2*/
    cursor: text;/* aqui é para quando passar o mouse, aparecer o indicador de texto*/
}

.input{/*aqui chamamos nosso submit ou seja, o botão para estilização*/
    width: 100%;/* largura*/
    border: 0;/* tamanho da borda*/
    border-bottom: 2px solid #ccc;/* estilização na borda inferior */
    padding: 5px;/*preeenchimento do input*/
    font-size: 17px;/*tamanho da font*/
    outline: 0;/**/
}

form .input-single .input:focus ~ label,/* */
form .input-single .input:valid ~ label{/* */
    transform: translateY(-25px);/* */
    font-size: 12px;/* */
    color: black;/* */
} 

.btn{
    width: 100%;
    text-align: center;
}

form input[type=submit]{/* aqui estilizamos nosso botão de enviar*/
    padding: 10px 40px;/* preenchimento da altura e largura do botão*/
    border: 0;/*aqui zeramos a borda*/
    border-radius: 10px;/* colocamos aqui um arredondamento no botão*/
    background-color: rgb(6, 63, 63);/* cor do botão*/
    color: white;/* cor da letra do botão*/
    cursor: pointer;/*torna o botão em algo clicavel*/
}

.form-container{
    opacity:90%
}