*{
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: segoe UI, roboto, helvetica, arial, sans-serif;
}

header{
        display: flex; /**/
        align-items: center;/**/
        justify-content: space-evenly;/**/
        padding: 15px;/**/
        background-color: rgb(116, 77, 5);/**/
        overflow: hidden;/**/

}

header h1 { /* selecionamos aqui a cor da letra dao nosso h1 ou seja, do nosso ttulo*/
    color: white;/* chamamos a propriedade color e definimos uma cor  em questo*/
}

header img{/* */
    width: 200px;/**/
    height: 200px;/**/
}

#menu-header{/* nosso menu de navegação*/
    display: flex;/*responsavel por colocar os itens na mesma linha (lado a lado)*/  
    align-items: center;/* alinhar os itens do nosso header para o centro*/

}

#list-menu{/*nossa lista ordenada, aqui mudaremos diretamente nossa lista*/
    display: flex;/* responsável por colocar os itens na mesma linha (lado a lado)*/
    margin-right: 1rem;/*margem da direita. 1 rem equivale a 16px, ou seja podemos usa-lo para facilitar a inserção PX*/

}

.item-menu-header{/* nossa li que estão dentro do LIST MENU, onde se encontram os nomes dos iten aprensentados no HEADER*/
    margin-right: 25px;/* margem da direita*/
}

.item-menu-header a:hover{ /* nossas li que estão dentro do LIST MENU. (a) nossa tag de link é representada po: HOME/PRODUTOS/CONTATOS, e o Hover responsável pela modificação de cor ao passar o cursor em cima*/
    color: yellow;/*aqui atribuimos uma cor*/
    transition: 1s;/* e o tempo em que será exibido ao passar o cursor*/

}

.item-menu-header a{/* nossa li que estão do LIST MENU. (a) no0ssa tag de link que é representada por: HOME/PRODUTOS/CONTATO*/
    color: white;/* cor da letra1       */
    text-decoration: none;/*responsável por tirar o sublinhado inferior que estava visível*/
    font-size: 12px;/*tamanho da letra*/
}

#botao-header{/* nossa ID do botão de login*/
    display: flex;/* responsável por colocar os itens na mesma linha (lado a lado)*/

}

#botao-header button{/*aqui chamamos nossa ID e onde queremos fazer alterações, no caso o nosso BOTÃO (button)*/
    padding: 8px;/*Preenchimento*/
    background-color: transparent;/* aqui deixxamos o fundo do botão transparente, ou seja sem o fundo branco que estava em primeiro plano*/
    border: none;/* none é usado para retirar algo, nesse caso a borda.*/
}
 
#botao-header button a { /*estamos chamando aqui a nossa tag de link para alteração*/
    display: flex; /*responsavel por colocar os itens na mesma linha (lado a lado)*/
    align-items: center; /*alinha os itens para o centro*/
}

#botao-header button a img { /*aqui estamos usando no icon de botão*/
    width: 30px; /* largura*/
    height: 30px; /*Tamanho*/
    margin-right: 2px; /* margem da direita*/
}

#botao-header button a { /* Estamos chamando aqui nossa tag de link para alteração (NOVAMENTE)*/
    color: white; /* cor da letra*/
    text-decoration: none; /* responsavel por tirar o sublinhado que estava visivel*/
    font-weight: 400; /*espessura da fonte*/
}

/* diferença entre ID e Class: A diferença entre um id e uma class é que um
id é usado apenas para identificar um único elementoem nosso HTML.
Os identificadores são usados apenas quando um elemento na página precisa
Ter um estilo especifico aplicado a ele.
No entanto, uma class pode ser usada para identificar mais de um elemento HTML */

#img-destaque{
    background-image: url(imagens/padaria.webp);
    padding: 20%; /*preenchimento*/
    background-position: center;
    background-size: cover;
}

.img-div {
    padding: 2.5%;
    background-image: url(imagens/img-div.jpg);
    background-position: center;
    background-size: auto;
}

#clients h2 { 
    text-align: center; /*Alinhamos o texto ao centro*/
    font-size: 36px; /*Tamanho da letra*/
    margin-top: 40px; /* Espaçamento superior*/
}

#clients{ 
    background-color: white;
    padding: 50px; /*preenchimento*/
    margin-top: 0; /*espaçamento superior*/
}


.line{
    margin: auto;
    width: 30%;
}

#clients-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 35px;
}


#clients-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clients-item img {
    width: 84px;
    height: 84px;
}

.clients-item h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    margin-top: 10px;
    align-items: center;
}

.clients-item p { /**/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    margin-top: 10px;
    align-items: center;
}

#products{ /* ID usado para a section das nossos produtos*/
    padding: 30px; /*Preenchimento*/
    background: linear-gradient(180deg, #d49664 8.33% , rgba(244, 200, 175, 0) 100%);
    /* Aqui colocamos uma estelização de fundo em degradé */
    text-align: center ;
}

.section-products{ /* Chamamos nossa div Pai para estilização*/
    margin-top: 3em;/*Espaçamento superior*/
    display: flex;/*Tornando essa sessão Flex e jogando lado a lado*/
    align-items: center;/*Alinhando itens ao centro */
    justify-content: space-evenly;/* Espaçamento justificado */
}

.img-products{ /*Aqui chamamos nossa imagens para edição*/
    width: 300px; /*Largura das imagens*/
    height: 300px; /*Altura das imagens*/
    border-radius: 50px; /*Arredondamento das bordas*/
}

.title-products{ 
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center; 
    font-size: 22px;
}

#products a { /* Aqui chamamos nossa TAG "a" para estilização*/
    text-decoration: nome; /**/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-content: center;
    text-align: center;

}

#products a:hover { /*Efeito ao passar o mouse*/
    font-size: 22px; /*Tamanho da letra*/
    transition: 0.8s; /*Tempo de transição ao passar o mouse*/
    color: tomato; /*Tempo de transição ao passar */
}

#sobre-nos{
    background-image: url(imagens/fundo-sobre-nos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 10%;
}

#sobre-nos h3 {
    color: white;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}

#sobre-nos  p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    font-size: 22px;
    margin-top: 2em;
    text-align: left;
}

footer{
    padding: 80px;
    background-image: url(imagens/img-footer.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
}

footer h2{
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.item-menu-footer{ /*Aqui chamamos nossa class das li*/
    align-items: center;/*Posicionamos ao centro*/
    margin-top: 30px; /*Espaçamento superior*/
    display: flex; /*Alinhando os itens lado a lado*/
}

.item-menu-footer img{/*Aqui chamamos nossa img para estilização*/
    width: 34px; /*Largura da imagem*/
    height: 34px; /*Altura da imagem*/
}

/* Chamem a TAG P para estilização */

.item-menu-footer p{ /*Aqui chamamos nossa tag P para estilização*/
    color: black; /*cor da letra*/
    font-size: 24px; /*Tamanho da letra*/
    font-weight: bold;/**/
    margin-left: 10px;/**/
}


@media (max-width:430px) {

    #menu-header {
        display: none;
    }

    #btn-header button a {
        display: block;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    #btn-header button a p {
        font-size: 0.8em;
        font-family: Arial, Helvetica, sans-serif;   
    }

    #btn-header button a img{
        width: 30%;
        height: auto;
    }

   
    header img {
        width: 40px; /* iremos modificar*/
        height: 40px;
    }

    header h1{
        font-size: 1em;
    }

    header{
        padding: 5% ;
    }

    #img-destaque {
        max-width: 100%;
        height: auto;
    }

    #img-padaria{
        width: 100%;
    }

    #clients h2{
        font-size: 1.8em;
         
    }

    #clients-list{
        display: block;
        align-items: center;
        justify-content: center;
    }

    .line{
        margin: 0 auto;
        width: 70%;
    }

    .clients-item p {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 10%;
    }

    .products {
        display: block;
        margin-top: 30px;
    }

    .img-products{
        margin-top: 60px;
    }

    #featured-products a {
        margin-top: 25px;
    }

    #sobre-nos h3 {
        font-size: 1.7em;
    }

    #sobre-nos p {
        font: bold;
        font-size: 1.2em;
    }

    .contatos-footer{
        display: block;
    }

   
}